{% extends 'account/user_profile.html' %}


{% block add_training %}

{% endblock %}

{% block sub %}
        {% if request.user in profile.followers.all %}
                <h3>Вы подписаны</h3>
                <a href="{% url 'account:unsubscribe' request.user.id profile.user.id %}">Отписаться</a>
        {% else %}
                <h1><a href="{% url 'account:subscribe' request.user.id profile.user.id %}">Подписаться</a></h1>
        {% endif %}
{% endblock %}

{% block edit %}

{% endblock %}

